<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>View Employees Details</h2>
    <ul>
    <%
    employeesFs.forEach(employee=>{
    %>
        <li><%=employee.fname%>, <%=employee.designation%></li>
    <%
    }
    )
    %>
    </ul>
</body>
</html>