*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-color: lightblue;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}
p{
    color: darkblue;
    font-size: 16px;
    text-align: center;
}