<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <a href="/">Home</a>|
    <a href="/about">About Us</a>|
    <a href="/employee/view-employee">View Employee</a>|
    <a href="/employee/view-employees">View Employees</a>|
    <h1><%= title %></h1>
    <p>Feel free to reach out to us!</p>
</body>
</html>