<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/about">About Us</a>|
    <a href="/contact">Contact Us</a>|
    <a href="/employee/view-employee">View Employee</a>|
    <a href="/employee/view-employees">View Employees</a>|
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
